<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
      <a class="nav-item nav-link" >Hi {{currentUser.firstName}} {{currentUser.lastName}}, ({{currentUser.username}})</a>
  </div>
</nav>

<!-- main app container -->

<div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center">

</div>