<hr />

<form class="row mb-4" style="background-color: #edf5e1;"
[formGroup]="loginForm" (ngSubmit)="onSubmit()>

  <div class="col">

    <div class="my-3 input-group">
      <h3 class="mx-4">Title:</h3>
      <input type="text" class="form-control" placeholder="Username" aria-label="Topic" aria-describedby="basic-addon1"
      formControlName="input_title">
    </div>

    <hr/>

    <div class="row mx-5 text-center">
      <textarea rows="4" cols="100" class="form-control" id="exampleFormControlTextarea1"
       formControlName="input_text"></textarea>
    </div>

    <hr/>

    <div class="mx-4 d-flex flex-row-reverse" >
      <button class="btn btn-outline-success my-2" type="submit">Post</button>
    </div>
  </div>
</form>
