<p>tweet-handler works!</p>


<hr/>

<div class="row mb-4" style="background-color: #edf5e1;"
  *ngFor="let tweet of tweet_list">
  <div class="col-md-2 border border-light border-0" id="left_body" style="background-color: #123c60;" >

  <!-- this part is only for the comment specification, it contains
  the user photo and the tags used on the comment.

  photo

  tags

  Persons -->
  <div class="row">

    <img src="https://imgur.com/aCbWT9S" class="rounded-circle border-0 m-4" width="100" height="100">

  </div>
  <div class="row">
    <h5> By {{tweet.username}} </h5>
  </div>
  <hr/>
  <div class="row">
    <h5> Tags </h5>
  </div>
  <div class="row">

    <p *ngFor="let tag of tweet.tags">{{tag}} - </p>
  </div>

  <hr/>
  <div class="row">
    <h5> People </h5>
  </div>

  <div class="row">
    <p> People </p>
  </div>

  </div>
  <div class="col-md-10">
    <!-- This part contains the title, text and comments

    Title

    Text

    Comments -->

    <div>
            <h2 class="text-center my-3"> {{tweet.title}} </h2>
    </div>

    <hr/>

    <div class="row mx-5 text-justify">
            <p class="dm-5">{{tweet.body}}</p>
    </div>

    <hr/>

    <div class="mx-5 d-flex flex-row-reverse" >
        <p class="text-right dm-5">Fecha de modificacion: {{tweet.date}}</p>
    </div>
  </div>
</div>
