




<div class="modal-body row">

    <div class="col-md-5">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Hi {{currentUser.firstName}}, ({{currentUser.username}})!</h1>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12">
                    <tweet-creator></tweet-creator>
                </div>
            </div>
        </div>
    
    </div>
    <div class="col-md-7">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>


